{% extends "base.html" %}
{% load i18n %}
{% block title %}EinkaufsZettel - HelferPlan{% endblock %}

{% block main %}

{% if user.is_authenticated %}

{% if weekplan %}
<h3> {% trans "Der Plan" %}: </h3>
<br>
<form action="" method="post">
  {% csrf_token %}
<div class="week-plan">
  <table border="1" style="width:95%;text-align:center;margin: 0px auto;">
    {% for day in weekplan %}
    <tr>
        <th>{{ day.0.date }}
        </th>
        {% for timeslot in day %}
          <td>
            <textarea style="width:100%">
              {{ timeslot.entry }}
            </textarea>
          </td>
        {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
<br>
<br>
</form>
{% endif %}

<h3> {% trans "Ihre Daten"%} </h3>

<div class="profile">

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Change' %}">
</form>

</div>
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}


{% else %}
{% trans "You are not logged in." %}
{% endif %}

{% endblock %}
