{% extends "base.html" %}
{% load i18n %}
{% block title %}EinkaufsHilfe - HelferPlan{% endblock %}

{% block main %}

{% if user.is_authenticated %}

{% if weekplan %}
<h3> {% trans "Der Plan" %}: </h3>
<br>

<div class="week-plan">
  <table border="1" style="width:95%; text-align:center;margin: 0px auto;">
    {% for day in weekplan %}
    <tr>
        <th>{{ day.0.date }}
        </th>
        {% for timeslot in day %}
          <td>
            <textarea id="ts+{{ timeslot.date|date:"c" }}+{{ timeslot.slotnum }}" style="width:95%" oninput="sendChanges(this.id)" onpropertychange="sendChanges(this.id)">{{ timeslot.entry }}</textarea>
          </td>
        {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
<br>
<br>
{% endif %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<script>
const updateSocket = new WebSocket('ws://'
                                   + window.location.host
                                   + '/ws/update/'
                                   + 'plan'
                                   + '/')

updateSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var elem = document.getElementById(data.id);
            if (elem != null){
              elem.value = data.value;
            }
        };

updateSocket.onclose = function(e) {
            console.error('Update socket closed unexpectedly');
        };


function sendChanges(id){
  updateSocket.send(JSON.stringify({"id": id, "value": document.getElementById(id).value}));
}
</script>


{% else %}
{% trans "You are not logged in." %}
{% endif %}



{% endblock %}
