{% extends "base.html" %}
{% load i18n %}
{% block title %}EinkaufsHilfe - HelferPlan{% endblock %}

{% block main %}

{% if user.is_authenticated %}

{% if weekplan %}
<h3> {% trans "Der Plan für die nächsten sieben Tage" %}: </h3>
<br>

<div class="week-plan">
  <table id="plan-table" border="1" style="width:98%; text-align:center;margin: 0px auto;">
    <tr>
      <th></th>
            {% for day in weekplan.0 %}
            <th>{{ day.date }}
            </th>
            {% endfor %}
    </tr>
    {% for day in weekplan %}
    <tr style="height:100%;width=100%;">
      <td>Morgen</td>
      {% for timeslot in day %}
          <td style="height:100%;width=100%;">
            <textarea id="ts_{{ timeslot.date|date:'c' }}_{{ timeslot.slotnum }}"
                      oninput="pushChanges(this.id)"
                      onpropertychange="pushChanges(this.id)">{{ timeslot.entry }}</textarea>
            <div></div>
          </td>
        {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
<br>
<br>
{% endif %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<script>
const updateSocket = new WebSocket('ws://'
                                   + window.location.host
                                   + '/ws/update/'
                                   + 'plan'
                                   + '/')

updateSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var elem = document.getElementById(data.id);
            if (elem != null){
              elem.value = data.value;
            }
        };

updateSocket.onclose = function(e) {
            console.error('Update socket closed unexpectedly');
        };

var delayedSend = false;
var delayedSendTimeout = null;

function pushChanges(id){
  if (delayedSend == false){
    delayedSend = true;
    delayedSendTimeout = setTimeout(function(){sendChanges(id);}, 2000);
  }
}

function sendChanges(id){
  updateSocket.send(JSON.stringify({"id": id, "value": document.getElementById(id).value}));
  delayedSend = false;
}


rowheights = [0];

function max(a, b){
  return ((a) > (b))?(a):(b);
}

function initAll() {
  {% for timeslot in weekplan.0 %}
    rowheights.push(0);
  {% endfor %}

  {% for day in weekplan %}
    {% for timeslot in day %}
      init(document.getElementById("ts_{{ timeslot.date|date:'c' }}_{{ timeslot.slotnum }}"));
    {% endfor %}
  {% endfor %}

  var pt = document.getElementById('plan-table').children[0];
  for (var i = 0; i < pt.children.length; i++){
    for (var j = 0; j < pt.children[i].children.length; j++){
      rowheights[i] = max(rowheights[i], pt.children[i].children[j].scrollHeight);
    }
  }
}

var observe;
if (window.attachEvent) {
    observe = function (element, event, handler) {
        element.attachEvent('on'+event, handler);
    };
}
else {
    observe = function (element, event, handler) {
        element.addEventListener(event, handler, false);
    };
}


function init (elem) {
    function resize () {
      var pt = document.getElementById('plan-table').children[0];
      elem_row = elem.id.split('_');
      elem_row = parseInt(elem_row[elem_row.length-1])+1;
      rowheights[elem_row] = 0;
      //console.log(pt.children[elem_row].children.length);
      fontsize = parseFloat(window.getComputedStyle(pt.children[elem_row].children[0], null).getPropertyValue('font-size'));
      if (elem_row != 0){
        for (var i = 1; i < pt.children[elem_row].children.length; i++){
          lines = pt.children[elem_row].children[i].children[0].value.split(/\r*\n/).length;
          rowheights[elem_row] = max(rowheights[elem_row], lines*fontsize);
        }
      }
      rowheights[elem_row] = max(rowheights[elem_row], 3*fontsize);
      elem.parentElement.parentElement.style.height = (rowheights[elem_row])+'px';
    }
    /* 0-timeout to get the already changed text */
    function delayedResize () {
        window.setTimeout(resize, 1);
    }
    observe(elem, 'change',  resize);
    observe(elem, 'cut',     delayedResize);
    observe(elem, 'paste',   delayedResize);
    observe(elem, 'drop',    delayedResize);
    observe(elem, 'keydown', delayedResize);

    elem.focus();
    elem.select();
    resize();
}

initAll();

</script>


{% else %}
{% trans "You are not logged in." %}
{% endif %}



{% endblock %}
