
{% extends "base.html" %}
{% load i18n %}

{% block title %}KoopKauf{% endblock %}

{% block main %}

<h3>Offene Bestellungen</h3>



{% for order, items in orders %}


<div style="border:1px solid black;">
<form id="form-{{ order.id }}" class="listelem" action="" method="post">
    {% csrf_token %}
    <label style="font-weight:bold;" for="id">Bestellnummer:</label>
    <div id="id">{{ order.id }}</div>
    <br>

  <label for="name">Name:</label>
  <div id="name">{{ order.name }}</div>
  <br>
  <label for="address">Adresse:</label>
  <div id="name">{{ order.address }}</div>
  <br>
  <label for="number">Telefonnummer:</label>
  <div>{{ order.number }}</div>
  <br>
  <label for="items">Liste:</label>
  <div class='shoppinglist' id='items'>{{ items }}
  </div>
   <br>
  <input type="hidden" id="resp-{{ order.id }}" name="id" value="{{ order.id }}">
  <input type="submit" value="Übernehmen">
</form>

</div>
{% endfor %}
<a href='/taken'>Meine Lieferungen</a>

{% endblock %}
